{% include 'Header.twig' %}

<h1><a href="/issue/{{ issue.id }}">{{ issue.title|e }}</a></h1>
<div id="issueInfoBar" class="clearfix">
    <ul>
        <li id="firstInfoItem">
            <strong>Status</strong> <a href="/issue/status/{{ issue.statusID }}">{{ issue.statusName }}</a>
        </li>
        <li>
            <strong>Assigned To</strong> <a href="/user/{{ issue.assignedToUserID }}">{{ issue.assignedToUserLogin }}</a>
        </li>
        <li>
            <strong>Opened by</strong> <a href="/user/{{ issue.openedByUserID }}">{{ issue.openedByUserLogin }}</a> 
            <abbr title="{{ issue.createdAt }}" class="timeago">{{ issue.createdAt }}</abbr>
        </li>
        <li>
            <strong>Severity</strong> {{ issue.severityName }}
        </li>
        <li>
            <strong>Last Update</strong> <abbr title="{{ issue.updatedAt }}" class="timeago">{{ issue.updatedAt }}</abbr>
        </li>
    </ul>
    
    <a href="/issue/{{ issue.id}}/edit" class="btn btn-info" id="editLink"><i class="icon-pencil icon-white"></i> Edit</a>
</div>

<div class="well" id="issueDescription">
    {{ issue.description|e }}
</div>


{% include 'Footer.twig' %}